.form_main {
	display: flex;
	max-height: fit-content;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-color: rgb(255, 255, 255);
	padding: 30px 30px 30px 30px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
	position: relative;
	overflow: hidden;
}

.form_main::before {
	position: absolute;
	content: "";
	width: 300px;
	height: 300px;
	background-color: rgb(209, 193, 255);
	transform: rotate(45deg);
	left: -180px;
	bottom: 30px;
	z-index: 1;
	border-radius: 30px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
	font-size: 2em;
	color: #2e2e2e;
	font-weight: 700;
	margin: 5px 0 10px 0;
	z-index: 2;
}